table {
    width: 100%;
   margin: auto;
  }

.container {
  width: 80%;
  margin: auto;
}
.head {
  display: inline;
  font-size: x-large;
  font-weight: bolder;
}
.btn {
  float: right;
  vertical-align:middle ;
}
.title-bar {
  padding-bottom: 1em;
  margin: auto;
}
.icon {
  color: grey;
  margin-right: 1em;
  cursor: pointer;
}