    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-head">
        <mat-icon aria-hidden="false" class="form-head-icon" (click)=onClose()>close</mat-icon>
        <div class="form-head-text">Update Details</div>
      </div>
      <div>
        <div class="flex-group">
          <div class="element">
            <mat-form-field  appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First Name" type="text" formControlName="firstName" [(ngModel)]="firstName">
            </mat-form-field>
          </div>
          <div class="element">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name" type="text" formControlName="lastName" [(ngModel)]="lastName">
            </mat-form-field>
          </div>
        </div>
   
        <div>
          <div class="flex-group">
            <div class="element">
              <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Your Phone Number" formControlName="phone" [(ngModel)]="phone">
              </mat-form-field>
            </div>
            <div class="element">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email id" formControlName="email" [(ngModel)]="email">
              </mat-form-field>
            </div>
          </div>
        </div>
  
        <div class="group">
          <mat-form-field appearance="outline" class="element">
            <mat-label>Address</mat-label>
            <textarea matInput rows="3" formControlName="address" [(ngModel)]="address"></textarea>
          </mat-form-field>
        </div>
  
        <div>
          <div class="group">
            <div class="element">
              <mat-form-field appearance="outline">
                <mat-label>State</mat-label>
              <mat-select formControlName="state" [(ngModel)]="state">
                <mat-option *ngFor="let state of states" [value]="state" (click)="show()">
                  {{state}}
                </mat-option>
              </mat-select>
                
              </mat-form-field>
            </div>
            <div class="element">
              <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
              <mat-select formControlName="city"[(ngModel)]="city" >
                <mat-option *ngFor="let city of cities" [value]="city" >
                  {{city}}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </div>
            <div class="element">
              <mat-form-field appearance="outline">
                <mat-label>Zip Code</mat-label>
                <input matInput placeholder="Zip Code" formControlName="zipCode" [(ngModel)]="zipCode">
              </mat-form-field>
            </div>
          </div>
        </div>
  
        <div class="flex-group">
          <div class="btn-container">
            <button mat-raised-button class="btn" color="primary">Submit</button>
            <!-- <button mat-raised-button class="btn" color="warn">Reset</button> -->
          </div>
        </div>
      </div>
  
    </form>

